<div class="about-container">
    <h1>Acerca de Nova Auto</h1>
    <p>En Nova Auto nos dedicamos a facilitar la compra y venta online de coches nuevos, de segunda mano y kilómetro cero. Nuestra misión es ofrecer una plataforma sencilla, 
        segura y eficiente, para que tanto particulares como profesionales del motor puedan encontrar el vehículo que buscan o vender su coche con total confianza.</p>
  
    <h2>Sobre nosotros</h2>
    <p>Somos un grupo de 3 estudiantes del ciclo formativo de Grado Superior de Desarrollo de Aplicaciones Web. Apasionados por el mundo de la tecnología y el motor, 
        decidimos crear Nova Auto como nuestro proyecto final, combinando nuestras habilidades técnicas con nuestra pasión por los coches.</p>
  
    <h2>Contacto</h2>
    <p>Si quieres ponerte en contacto con nosotros, puedes escribirnos a: <a href="mailto:contacto@novaauto.com">contacto&#64;novaauto.com</a></p>
  
    <h3>Síguenos en nuestras redes sociales:</h3>
    <ul>
      <li><a href="#" target="_blank">Instagram</a></li>
      <li><a href="#" target="_blank">Twitter</a></li>
      <li><a href="#" target="_blank">Facebook</a></li>
    </ul>
  </div>
  