<div class="pagina-inicio-container">


  <div class="promo-banner">
    <div class="promo-text-wrapper">
      <div class="promo-text">🔥 ¡Grandes ofertas esta semana! 🔥</div>
      <div class="promo-text">🔥 ¡Grandes ofertas esta semana! 🔥</div>
    </div>
  </div>

  <div class="banner">
    <img src="assets/images/banner.jpg" alt="Banner">
  </div>

  <div class="filtro-container">

    <!-- Marca -->
    <div class="dropdown">
      <button class="dropdown-btn">Marca ▼</button>
      <div class="dropdown-content">
        <label *ngFor="let brand of brands">
          <input type="checkbox" (change)="toggleSelection(brand, 'brand')"> {{ brand }}          
        </label>
      </div>
    </div>

    

    <!-- Texto libre -->
    <div class="wave-group">
      <input required type="text" class="input" [(ngModel)]="searchQuery">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">B</span>
        <span class="label-char" style="--index: 1">u</span>
        <span class="label-char" style="--index: 2">s</span>
        <span class="label-char" style="--index: 3">c</span>
        <span class="label-char" style="--index: 4">a</span>
        <span class="label-char" style="--index: 5">r</span>
      </label>
    </div>
<!-- Modelo -->
<div class="dropdown">
  <button class="dropdown-btn">Modelo ▼</button>
  <div class="dropdown-content">
    <label *ngFor="let model of models">
      <input type="checkbox" (change)="toggleSelection(model, 'model')"> {{ model }}
    </label>
  </div>
</div>
    

    <!-- Botón de búsqueda -->
    <div class="search-container">
      <button (click)="searchCars()" class="search-btn">Ver coches disponibles</button>
    </div>


  <div class="car-slider-container">
    <button class="slider-btn left" (click)="scrollSlider(-1)">←</button>
  
    <div class="car-slider" #slider>
      <div class="car-slider-item" *ngFor="let car of filteredCars">
        <app-car-card
          [carImage]="car.imagen"
          [vehicleName]="car.marca + ' ' + car.modelo"
          [kilometers]="car.kilometraje"
          [power]="car.year"
          [price]="car.precio"
          (click)="verDetalles(car)">
        </app-car-card>
      </div>
    </div>
  
    <button class="slider-btn right" (click)="scrollSlider(1)">→</button>
   
    
  </div>
  <div class="ver-todos-container">
    <button class="ver-todos-btn" (click)="irAResultados()">VER TODOS</button>
  </div>
    
    
    
  

</div>
