/* Aplica solo en las páginas de Login y Registro */
body.login-page .background, body.register-page .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/background.gif');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1; 
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Asegura que el wrapper crezca con el espacio disponible */
.layout-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px; /* Espacio para el navbar fijo */
}
/* Asegura que el main crezca y empuje al footer si hay poco contenido */
.main-content {
  flex: 1;
}
