<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="profile-container">
        <h2 class="text-center mb-4">Crear anuncio</h2>
        <form (ngSubmit)="onSubmit()">
            <label>Marca</label>
            <input type="text" formControlName="nombre">
        
            <label>Modelo</label>
            <input type="text" formControlName="username">
        
            <label>Año</label>
            <input type="email" formControlName="email">
        
            <label>Precio</label>
            <input type="password" formControlName="password">
        
            <label>Descripción</label>
            <input type="text" formControlName="telefono">
        
            <label>Subir foto</label>
            <input type="text" formControlName="ciudad">
        
            <button type="submit">Guardar</button>
        </form>
    </div>
    
</div>