<!-- admin-panel.component.html -->
<div class="admin-container">
  <header>
    <h1 class="main-title">NOVA AUTO</h1>
    <h2 class="subtitle">— TU COCHE, TU ELECCIÓN —</h2>
    <h3 class="panel-title">PANEL DE ADMINISTRADOR</h3>
  </header>

  <div class="dashboard-grid">
    <div class="section anuncios">
      <h4>Anuncios:</h4>
      <div class="button-group">
        <button  routerLink="/admin/crear-coche" class="btn btn-action crear">Crear anuncio</button>
        <button routerLink="/admin/anuncios" class="btn btn-ver-todos">Ver todos</button>
      </div>
    </div>

    <div class="section usuarios">
      <h4>Usuarios:</h4>
      <div class="button-group">
    
<!-- CORRECTO -->
<button routerLink="/admin/usuarios" class="btn btn-ver-todos">Ver todos</button>
      </div>
    </div>
  </div>
</div>