<div class="car-detail-container" *ngIf="car">
  <div class="car-image">
    <img [src]="car.imagen" [alt]="car.modelo">
  </div>

  <div class="car-info">
    <h2>{{ car.marca }} {{ car.modelo }}</h2>
    <p><strong>Año:</strong> {{ car.year }}</p>
    <p><strong>Kilometraje:</strong> {{ car.kilometraje }} km</p>
    <p><strong>Precio:</strong> {{ car.precio | currency:'EUR' }}</p>
    <p><strong>Descripción:</strong> {{ car.descripcion }}</p>
  </div>

  <button (click)="guardarEnFavoritos()"><b>Favoritos!</b></button>
</div>
