<div class="car-detail-container" *ngIf="car">
  <div class="car-image">
    <img [src]="car.imagen" [alt]="car.modelo">
  </div>

  <div class="car-info">
    <h2>{{ car.marca }} {{ car.modelo }}</h2>
    <p><strong>Año:</strong> {{ car.year }}</p>
    <p><strong>Kilometraje:</strong> {{ car.kilometraje }} km</p>
    <p><strong>Precio:</strong> {{ car.precio | currency:'EUR' }}</p>
    <p><strong>Descripción:</strong> {{ car.descripcion }}</p>
  </div>

  <div class="car-detail-actions">
    <button class="btn-fav" (click)="guardarEnFavoritos()"><b>
      <img src="/assets/images/favorito.png" alt="Favoritos" class="img-favoritos">
      Favoritos</b></button>
    <button class="btn-cart" (click)="anadirAlCarrito()"><b>
      <img src="/assets/images/carrito.png" alt="Carrito" class="img-carrito">
      Añadir al carrito</b></button>
  </div>
  

</div>
