<nav class="navbar">
  <div class="nav-container">

    <!-- Logo -->
    <a routerLink="/inicio" class="logo">
      <img src="assets/images/NovaAutoLogo2.png" alt="NovaAuto Logo" class="logo-img" />
    </a>

    <!-- Acciones de navegación solo si está logueado -->
    <div class="nav-actions" *ngIf="logeado">

      <!-- Botón de Login/Logout -->
      <button class="btn-profile" (click)="gestionarLoginLogout()">
        <img src="/assets/images/logout.png" alt="Login" class="img-login">
      </button>

      <!-- Botón de Perfil -->
      <button class="btn-profile" (click)="irAlPerfil()">
        <img src="/assets/images/usuario2.png" alt="Perfil" class="img-profile">
      </button>

      <!-- Carrito -->
      <div class="cart-container" (mouseenter)="mostrarCarrito = true" (mouseleave)="mostrarCarrito = false">
        <button class="btn-cart">
          <img src="/assets/images/carrito.png" alt="Perfil" class="img-carrito">
          <span class="badge">{{ carrito.length }}</span>
        </button>

        <!-- Dropdown del carrito -->
        <div class="cart-dropdown" *ngIf="mostrarCarrito && carrito.length > 0">
          <div *ngFor="let car of carrito" class="cart-item">
            <span>{{ car.marca }} {{ car.modelo }}</span>
            <span class="precio">{{ car.precio | currency:'EUR' }}</span>
          </div>

          <hr />

          <!-- Total del carrito -->
          <div class="cart-total">
            <strong>Total:</strong>
            <span>{{ totalCarrito | currency:'EUR' }}</span>
          </div>

          <div class="text-end">
            <a routerLink="/carrito" class="ver-carrito-btn">Ver carrito</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
